{% extends "shop/base.html" %}
{% load static %}
{% block title %}
Your shopping cart
{% endblock %}
{% block content %}
<div class="checkout">
<h1>Your shopping cart</h1>
<table class="cart">
    <tbody>
    {% for item in cart %}
    {% with painting=item.painting %}
    <tr>
        <td>
            <a href="{{ painting.get_absolute_url }}">
                <img src="{% if painting.image %}{{ painting.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
            </a>
        </td>
        <td>{{ painting.name }}</td>
        <td class="num">{{ item.price }} руб.</td>
        <td>
            <form action="{% url 'cart:cart_remove' painting.id %}" method="post">
            <input type="submit" value="Remove">
            {% csrf_token %}
            </form>
        </td>
    </tr>
    {% endwith %}
    {% endfor %}
    <tr class="total">
        <td>Total</td>
        <td colspan="2"></td>
        <td class="num">{{ cart.get_total_price }} руб.</td>
    </tr>
    </tbody>
</table>
<p class="text-right">
    <a href="{% url 'shop:painting_list' %}" class="button light">Continue shopping</a>
    <a href="{% url 'order:order_create' %}" class="button">
        Checkout
    </a>
</p>
</div>
{% endblock %}