{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{{ painting.name }}
{% endblock %}
{% block content %}
<div class="product-detail">
    <img src="{% if painting.image %}{{ painting.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
    <h1>{{ painting.name }}</h1>
    <h2>
        <a href="{{ painting.tag.get_absolute_url }}">
            {{ painting.tag }}
        </a>
    </h2>
    <p class="price">${{ painting.price }}</p>
    <form action="{% url 'cart:cart_add' painting.id %}" method="post">
        {{ cart_painting_form }}
        {% csrf_token %}
        <input type="submit" value="Add to cart">
    </form>
    {{ painting.description|linebreaks }}
</div>
{% endblock %}